// Code review 07/22/16 Daria Tarasova - Jingyi Liu - Anna Schmidt

doctype html
html
  include ../includes/header.jade 

  style. 
    #main {
      text-align: center;
    }

  #main
    h1 Looks like something went wrong!
    br
    h3
      |  Try making sure the link is correct but if the problem persists, please contact us.
    a.button.scrolly(href='/company/contact_us') Contact Us

  // Footer
  include ../includes/footer.jade
