doctype html
//
  Photon by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  //Links to css files
  head
    title QuHAnT
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='/js/ie/html5shiv.js')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='/css/ie9.css')

  style.
    #login.container {
      padding-left: 5%;
      padding-right: 5%;
    }

  body
    // Header
    section#header
      .inner
        span.icon.major.fa-cloud
        h1
          strong QuHAnT Password Reset
          br
        ul.actions
          li
            a.button.scrolly(href='/') Home Page
    // Reset Section
    section#login.container
      .login
        h2  Reset Password
        p
          =success
        #button(style='display:none')
          a.button.scrolly(href='/users/login') Log In

        #expired
          form(method='post', action='/users/reset_password')
            | Your Current Username:
            strong#userName
              = user 
            br
            br
            | Enter New Password*
            br
            input(pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}", title="Must Contain At Least 1 Number and 1 Uppercase and Lowercase Letter and At Least 8 Characters.", required='', type='password', name='password', id='password', value='', placeholder='Password')
            br
            br
            | Confirm New Password*
            br
            input(pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}", title="Must Contain At Least 1 number and 1 Uppercase and Lowercase Letter and At Least 8 Characters.", required='', type='password', name='confirmPassword', id='confirm_pwd', value='', placeholder='Confirm Password')
            div#password_match
            br
            br
            input#reset_button(type='submit', name='submit', value='Reset Password')
            


    // Footer
    section#footer
      li
        a.icon.alt.fa-envelope(href='/users/contact')
          span.label Email

      ul.copyright
        li © QuHAnT


    //Scripts   
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.scrolly.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/util.js')
    //if lte IE 8
    script(src='/js/ie/respond.min.js')
    script(src='/js/main.js')
  
    script(language='javascript').
      $(document).ready(function() {
        $('#confirm_pwd').keyup(checkPasswordMatch)

        if ('#{user}' == 'expired') {
          $('#expired').hide()
          $('h2').html('Email Link Expired. Try Recovering Password Again')
          $('h2').css('text-align','center')
        }

        if ('#{success}' != '') {
          $('#expired').hide()
          $('p').css('color','green')
          $('#button').show()
        }
      })

      function checkPasswordMatch() {
        var firstPassword = document.getElementById('password').value
        var secondPassword = document.getElementById('confirm_pwd').value
 
        if (firstPassword != secondPassword) {
          $('#password_match').html('Passwords Do Not Match')
          $('#password_match').css('color', 'red');
        } else {
          $('#password_match').html('Passwords Match')
          $('#password_match').css('color', 'green')
        }
      }
