doctype html
html
  include ../includes/header.jade

  style.
    p {
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 2em;
    }
    
  .Title
    h1
      | About QuHAnT
      br
  p
    | The Quantitative Histological Analysis Tool (QuHAnT) tool was developed at Michigan State University in order to increase the accuracy, reliability, and efficiency of histological evaluations in a non-clinical setting. As whole slide imaging techniques improve, our goal is to leverage technological advances to improve human and environmental health. Development of this software was made thanks to the Michigan Translational Research and Commercialization (MTRAC) program and is powered by Joyent cloud services.
  p
    | For more details, please read our 
    a(href='https://www.ncbi.nlm.nih.gov/pubmed/25274660') publication.

  include ../includes/footer.jade
