// Footer

style.
  #footer li {
    text-align: center;
    padding-left: 40%;
  }

section#footer
  li
    a.icon.alt.fa-envelope(href='/company/contact_us')
      span.label Email
    br
    |© QuHAnT 0.0.5 | Design 
    a(href='https://html5up.net') HTML5 UP
    br
    br
    a(href='/company/contact_us') Report problem 
