head

  style.
    #browserWarning {
      top: 0px;
      width: 100%;
      height: 20%;
      background-color: #FFFF7B;
      font-size: 0.5em;
      text-align: center;
    } 
  
body

  #browserWarning
    h1
      | You are using an unsupported browser. Please update your browser for the best user experience. 


