doctype html
html
  include ../includes/header.jade
  include ../testing/progbar-steps.jade
  //include ../includes/buttons.jade
 
  style.
    #main {
      padding-left: 10%;
    }
    #sampletext {
      color: red;
      font-size: 0.8em;
    }
  
  #main 
    #exists  
      p
        =success

      h1
        form(method='post', action='/images/updateSet')
          h6
            | Select project for choosing set: 
            select#proj(name='project')
              for item in projects
                option(value=item.project) #{item.project}
          h6
            | Select set for analysis: 
            select#sets(name='set')
      
          h6
            input(name='review_set', type='submit', value='Update')

  script(language='javascript').
    (function(){
      var bOptions = {}

      var pjt = !{JSON.stringify(projects)}

      for (i in pjt) {
        bOptions[pjt[i].project] = pjt[i].sets
      }
      var A = document.getElementById('proj');
      var B = document.getElementById('sets');
      A.onchange = function(){
        B.length = 0;
        var _val = this.options[this.selectedIndex].value;
        for ( var i in bOptions[_val]){
          var op = document.createElement('option');
          op.value = bOptions[_val][i];
          op.text = bOptions[_val][i];
          B.appendChild(op);
        }
      };
      A.onchange();
    })();

  script(language='javascript').
    $(document).ready(function() {
      $("#samplewarning").hide()
      $("li#CreateProject").addClass("visited")
      $("li#Upload").addClass("visited")
      $("li#Upload").addClass("previous")
      $("li#CreateSet").addClass("active")
      $("li#AnalyzeSet").addClass("next")

      //$('#infobox').hide();
      //$('#qimg').click(function(){
      //  $('#infobox').toggle();
      //});
      var project = document.getElementById('proj')
      if (!project.value) {
        $('#exists').html('There are no existing projects. Try uploading images first.');
        $('#exists').css('text-align','center');
      }
      var sessin = '#{local}'
      var sessinfo = $.parseJSON(sessin.replace(/&quot;/g,'"'))
      var listA = document.getElementById('proj')
      var listB = document.getElementById('sets')
      if (sessinfo.project_name == null) {
        listA.selectedIndex=0
      } else {
        for (var opt = 0; opt<listA.length; opt++) {
          if (listA[opt].text == sessinfo.project_name) {
            listA.selectedIndex = opt
            document.getElementById('proj').onchange()
            setTimeout(function() {
              var listB = document.getElementById('sets')
              if (sessinfo.set_name == null) {
                listB.selectedIndex=0
              } else {
                for (var opt = 0; opt<listB.length; opt++) {
                  if (listB[opt].text == sessinfo.set_name) {
                    listB.selectedIndex = opt
                  }
                }
              }

            }, 500)
          }
        }
      }
      if (sessinfo.sampleproj) {
        $('#samplewarning').show()
      }
      $('a#changestat').click(function() {
        $.ajax({type: 'post', url: '/images/changemode'}).done(function() { $(location).attr('href', '/images/update_set') })
      })
    })


  // Footer
  include ../includes/footer.jade
